* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #F7F8FC;
}
html {
    font-size: 130%;
}
.container {
    max-width: 24rem;
    background: #fff;
    padding:1.5rem;
    margin: 2rem auto;
    box-shadow: 0px 0px 92px -8px rgb(185, 226, 232);
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.4rem
}
.top > span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #DCD8D9;
}
.top > i {
    color: #B6B6B6;
    font-size: 1.5rem;
    cursor: pointer;
}
header {
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #210E04;
    font-weight: 600;
}
.singer {
    text-align: center;
    color: #7D7D7D;
    font-size: .8rem;
}
.song-image {
    width: 100%;
    padding: 2rem;
}
.song-image > img {
    width: 100%;
    box-shadow: 0px 0px 81px -34px rgba(0,0,0,0.34);
}
input[type="range"] {
    width: 100%;
    height: 3px;
    margin-bottom: 0.3rem;
}
.song-length {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
.song-length > span {
    color: #7D7D7D;
    font-size: 0.75rem;
    font-weight: 600;
}
.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem;
    margin-bottom: 2rem;
}
.controller > i {
    font-size: 1.4rem;
    color: #B6B6B6;
    cursor: pointer;
}
.play {
    font-size: 2.5rem !important;
    color: #949498 !important;
}
ul {
    list-style: none;
    color: #8C96AB;
    font-weight: 600;
}
ul > li {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.active {
    color: #424D56;
    position: relative;
}
.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0.45rem, -50%);
    height: 5px;
    width: 5px;
    background-color: #18BFB7;
    border-radius: 50%;
}
@media (max-width: 476px) {
    html {
        font-size: 100%;
    }
}