* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 130%;
}
body {
  background-color: #f2f2f2;
}
.container {
  margin: 5rem auto;
  width: fit-content;
  display: flex;
  gap: 5rem;
  align-items: center;
}
form {
  margin-left: 1rem;
}
h1 {
  color: #2d72f1;
  margin-bottom: 1rem;
  font-size: 3.3rem;
}
label {
  font-size: 0.9rem;
  color: #547bbf;
  font-weight: 600;
}
select,
input {
  width: 16.4rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #d9d9ea;
}
select {
  background: transparent;
}
input[type="submit"] {
  background-color: #2d72f1;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}
.task-list {
  max-width: 30rem;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  gap: 1.5rem;
  max-height: min-content;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 6px 4px #ebebeb;
}
.company {
  width: 15%;
  padding: 1rem;
  border-radius: 100px;
  box-shadow: 0 5px 10px 2px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company > img {
  width: 100%;
}
.body {
  flex: 1;
}
.top {
  display: flex;
  justify-content: space-between;
}
.priority {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #f15f91;
  color: #fff;
  border-radius: 0.4rem;
  padding: 0.3rem 0.6rem;
}
.date {
  color: #b6bcbf;
  font-weight: bold;
  font-size: 0.8rem;
}
.task-list-header {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.4rem 0;
    color: #434BA2;
}
.tags {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.tag-1,
.tag-2 {
    padding: 0.2rem 0.5rem;
    background-color: #DCDCDC;
    color: #5A80BF;
    border-radius: 0.3rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #587DBF;
    font-weight: 600;
    margin-top: 1rem;
}
i {
  color: #7A8489;
  margin-right: 0.3rem;
}
@media (max-width: 976px) {
    html {
        font-size: 120%;
    }
    .container {
        flex-direction: column;
    }
}